* {
  box-sizing: border-box;
}
.container {
  display: flex;
  margin-top: 24px;
  padding: 0 32px;
}

.border {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  margin-top: 8px;
  padding: 5px 12px;

}
.inputWrapper {
  width: 100%;
  padding: 8px;
}

.title {
  width: 100%;
  background-color: #f6f8fa;
  line-height: 20px;
  box-shadow: inset 0 1px 0 rgba(208,215,222,0.2);
  font-weight: bold;
  font-size: 20px;
}
.body {
  
  min-height: 300px;
}
.createdAt {
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
.tag {
  margin-top: 8px;
  padding: 5px 12px;
}
.tagbox {
  font-size: 12px;
}